.view_stagePartySelect .partyList {
	height:10rem;
}

.view_stagePartySelect .supList {
	height:19.5rem;
	
	margin:0.5rem 0.5rem;
	
	overflow-y:auto;
}

.view_stagePartySelect .submit {
	height:3.50rem;
}


.view_stagePartySelect .supList::before {
	content:"選擇戰友";
	
	display:block;
	
	font-size:1.25rem;
	
	padding:0.25rem 0.5rem;
}

.view_stagePartySelect .submit {
	font-size:2rem;
	
	padding:0.25rem 0 0;
	margin:0 0.5rem 0;
	border-width:0.5rem;
	border-style:solid;
	
	border-radius:1rem;
	
	text-align:center;
}
